@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.burguer {
    width: 24px;
    height: 24px;
    background-image: url('imagens/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cont-botao:checked ~ .container-rotulo > .burguer {
    background-image: url("imagens/menu_black_24dp\ 1.svg");
}

.cont-botao:checked ~ .container-rotulo {
    background: var(--azul-degrade);
}

header {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.cont-img {
    padding: 1em;
}

.cont-botao {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.cont-botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu-titulo, .lista-menu-item {
    padding: 1em;
    background-color: var(--branco)
    
}

.lista-menu-titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu-link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.titulo1 {
    display: none;
}

.lista-menu-2 {
    display: none;
}

.container > .container-link > p {
    display: none;
}

@media screen and (min-width: 1024px) {

    .titulo1 and .titulo1 > b {
        font-family: var(--font-sec);
        font-size: 2em;
    } 

    .titulo1 {
        font-weight: 400;
        display: block;
        font-family: var(--font-sec);
        font-size: 2em;
    }

    .titulo1 > b {
        font-weight: 700;
        font-family: var(--font-sec);
        font-size: 1em;
    }

    .lista-menu-2 {
        display: flex;
        align-items: center;
    }

    .lista-menu-2 > li {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .lista-menu-2 > li > a {
        text-decoration: none;
        color: var(--preto);
    }   

    .cont-img-trans {
        display: none;
    }

    .burguer {
        display: none;
    }

    .cont-botao2:checked~.lista-menu-2 { 
        display: block;
        width: auto;
    }

    .cont-botao2 {
        display: none;
    }

    .lista-menu-2 {
        margin: 2em;
    }

    .cont-botao2:checked ~ .opcao-rotulo > .opcao-item3 {
        background: var(--azul-degrade);
        color: var(--branco);
    }

}

@media screen and (min-width: 1728px) {

    .container-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    header {
        padding: 0 2em;
    }

    .lista-menu-2 {
        margin: 2em;
    }

    .container > .container-link > p {
        display: block;
    }
}