/* recentes e contato */

.recentes {
    background: var(--azul-degrade);
    color: var(--branco);
    padding-bottom: 1em;
}

.recentes__titulo {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding: 2em 0 1.8em 0;
}

.recentes__lista {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.recentes__lista-itens {
    list-style-type: none;
    padding: 1rem 2rem;
    font-size: .875rem;
    font-weight: 700;
    background-color: var(--laranja);
    margin: .8em .5em;
    border-radius: 3px;
}

.recentes__lista-link {
    color: var(--branco);
    text-decoration: none;
}