hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
}

.rodape__titulo {
    font-size: 1rem;
    font-weight: 400;
    color: var(--preto);
    padding: 1em 0;
    padding-left: 1em;
}